<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=program.title%> | LearnJS</title>
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/docco.min.css"
    />
    <style>
      pre {
        width: max-content;
        background-color: #fafafa;
        border-left: 2px solid #444;
        padding: 4px 10px;
      }
    </style>
  </head>
  <body style="overflow-x: hidden;">
    <%- include('./header.ejs') %> <%- include('./nav.ejs') %>
    <div style="padding: 10px; margin-top: 10px;">
      <h3><%=program.title%></h3>
      <div style="margin-top: 10px; overflow: scroll;">
        <%- program.html %>
      </div>
      <%- include('./footer.ejs') %>
    </div>
  </body>
</html>
