<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Programs: LearnJS</title>
  </head>
  <body>
    <%- include('./header.ejs') %> <%- include('./nav.ejs') %>
    <div class="content-area">
      <div class="programs-div">
        <h3>Programs</h3>
        <ul>
          <% for(let program of programs) { %>
          <li>
            <a href="programs/<%=program.slug%>"><%= program.title %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <%- include('./footer.ejs') %>
    </div>
  </body>
</html>
