<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A website having collection of javascript programs and questions."
    />
    <meta
      name="keywords"
      content="LearnJS, JS, JavaScript, Javascript Questions, Javascript Programs, Javascript Output Questions"
    />
    <meta name="author" content="Akul Srivastava" />

    <link rel="icon" type="image/png" href="https://i.imgur.com/qo4yEDa.png" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.imgur.com/qo4yEDa.png"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Questions: LearnJS</title>
  </head>
  <body>
    <%- include('./header.ejs') %> <%- include('./nav.ejs') %>
    <div class="content-area">
      <div class="programs-div">
        <h3>Questions (<%=questions.length%>)</h3>
        <ul>
          <% for(let question of questions) { %>
          <li>
            <a href="questions/<%=question.slug%>"><%= question.title %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <%- include('./footer.ejs') %>
    </div>
  </body>
</html>
