<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A website having collection of javascript programs and questions."
    />
    <meta
      name="keywords"
      content="LearnJS, JS, JavaScript, Javascript Questions, Javascript Programs, Javascript Output Questions"
    />
    <meta name="author" content="Akul Srivastava" />

    <link rel="icon" type="image/png" href="https://i.imgur.com/qo4yEDa.png" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.imgur.com/qo4yEDa.png"
    />
    <title>Search: <%=sQuery%></title>
  </head>
  <body>
    <%- include('./header.ejs') %> <%- include('./nav.ejs') %>
    <div style="padding-left: 10px; margin-top: 10px;">
      <h3>Search: <%=sQuery%></h3>
      <div class="programs-div" style="margin-top: 10px;">
        <h3>Programs</h3>
        <ul>
          <% for(let program of programs) { %>
          <li>
            <a href="programs/<%=program.slug%>"><%= program.title %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="questions-div">
        <h3>Questions</h3>
        <ul>
          <% for(let question of questions) { %>
          <li>
            <a href="questions/<%=question.slug%>"><%= question.title %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <%- include('./footer.ejs') %>
    </div>
  </body>
</html>
