<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A website having collection of javascript programs and questions."
    />
    <meta
      name="keywords"
      content="LearnJS, JS, JavaScript, Javascript Questions, Javascript Programs, Javascript Output Questions"
    />
    <meta name="author" content="Akul Srivastava" />

    <link rel="icon" type="image/png" href="https://i.imgur.com/qo4yEDa.png" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.imgur.com/qo4yEDa.png"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Topics: LearnJS</title>
  </head>
  <body>
    <%- include('./header.ejs') %> <%- include('./nav.ejs') %>
    <div style="margin-top: 20px; padding-left: 10px;">
      <h3>Topics</h3>
      <ul>
        <% for(let [topic, tcontent] of Object.entries(topics)) { %>
        <li>
          <a href="/topics/<%=topic%>">
            <%=topic.charAt(0).toUpperCase()+topic.slice(1)%>(<%=tcontent.length%>)
          </a>
        </li>
        <% } %>
      </ul>
    </div>
    <%-include('./footer.ejs') %>
  </body>
</html>
